{% extends 'layout.html' %}

{% block body %}
    <!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
        <div class="container">
          <h1 class="font-weight-light text-white">Meet the Team</h1>
        </div>
      </header>
      
      <!-- Page Content -->
      <div class="container">
        <div class="row">
          <!-- Team Member 1 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="https://media.licdn.com/dms/image/C4E03AQGcZ_xISRlvwQ/profile-displayphoto-shrink_200_200/0?e=1560988800&amp;v=beta&amp;t=MDlpJjG4zhd56fctkWlV9NPOm1PrndkZRhwaVfx-Pno" class="profile-photo-edit__preview" class="img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Creator: Raphael Joseph</h5>
                <div class="card-text text-black-50">Web Developer/Data Researcher</div>
              </div>
            </div>
          </div>
          <!-- Team Member 2 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="https://media.licdn.com/dms/image/C5103AQFmL2_keEJAcg/profile-displayphoto-shrink_800_800/0?e=1563408000&v=beta&t=BFTGFx7n_KPoLit4lpS_M10ZBXrO5434R64iDZRwpEE" class="profile-photo-edit__preview" class="img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Rishi Thakur</h5>
                <div class="card-text text-black-50">Project Manager</div>
              </div>
            </div>
          </div>
        <!-- /.row -->
      
      </div>
      <!-- /.container -->
{% endblock %}