{% extends 'layout.html' %}

{% block body %}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Respy</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(15, 7, 7);
   color: white;
   text-align: center;
}
</style>
<title>Respy</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
  
  body{
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=background-blur-blurred-255379.jpg&fm=jpg); background-size:100% auto;

  }
</style>
  
  
  
</head>

<body>
<!--footer-->
<div class="footer">
    <p>ResPy</p>
  </div>
</body>
</html>
{% endblock %}