{% extends 'layout.html' %}

{% block body %}
<br></br>
<br></br>

<h1 class="text-center font-weight-light text-black">Meet the Team</h1>

<br></br>
<br></br>
<div class="row">
  <!-- Team Member 1-->
  <div class="col-sm-4">
    <div class="card"  style="width: 20rem;">
      <img src="https://media.licdn.com/dms/image/C4E03AQGcZ_xISRlvwQ/profile-displayphoto-shrink_200_200/0?e=1560988800&amp;v=beta&amp;t=MDlpJjG4zhd56fctkWlV9NPOm1PrndkZRhwaVfx-Pno" alt="Raphael Joseph" style="width:100%">
      <div class="container">
        <h2>Raphael Joseph</h2>
        <p class="title">Data Analyst</p>
        <p>Web Framework</p>
        <p>rljoseph345@gmail.com</p>
        <p><button class="button" onclick="window.location.href = 'https://www.linkedin.com/in/raphael-joseph-989b2a16';" target="_blank">Contact</button></p>
      </div>
    </div>
  </div>
  <!-- Team Member 2-->
  <div class="col-sm-4">
    <div class="card"  style="width: 20rem;">
      <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/60804226_1722119037932924_2486602991403008000_n.jpg?_nc_cat=108&_nc_ht=scontent-lga3-1.xx&oh=7b0fcf117cca4f22d4f919c1181600d3&oe=5D552CEC" alt="Krithika Raghavendran" style="width:100%">
      <div class="container">
        <h2>Krithika Raghavendran</h2>
        <p class="title">Lead Data Analyst</p>
        <p>Leaflet/Heatmap, Plotly</p>
        <p>krithika.ragha@gmail.com</p>
        <p><button class="button" onclick="window.location.href = 'https://www.linkedin.com/in/krithikaraghavendran';" target="_blank">Contact</button></p>
      </div>
    </div>
  </div>
  <!-- Team Member 3-->
  <div class="col-sm-4">
    <div class="card"  style="width: 20rem;">
      <img src="https://media.licdn.com/dms/image/C5103AQFmL2_keEJAcg/profile-displayphoto-shrink_800_800/0?e=1563408000&v=beta&t=BFTGFx7n_KPoLit4lpS_M10ZBXrO5434R64iDZRwpEE" alt="Rishi Thakur" style="width:100%">
      <div class="container">
        <h2>Rishi Thakur</h2>
        <p class="title">Data Analyst</p>
        <p>JavaScript/MongoDB</p>
        <p>rishit1080@gmail.com</p>
        <p><button class="button" onclick="window.location.href = 'https://www.linkedin.com/in/akshay-rishi-thakur';" target="_blank">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <!-- Empty Space -->
  </div>
  <!-- Team Member 4-->
  <div class="col-sm-4">
    <div class="card"  style="width: 20rem;">
      <img src="https://media.licdn.com/dms/image/C4E03AQHGveh5OkR0Zw/profile-displayphoto-shrink_800_800/0?e=1564012800&v=beta&t=j_g9BiQKAdDJA6iypvZBKkpE4MIjA88o9S-aObIODiY" alt="Wilson Mendez" style="width:100%">
      <div class="container">
        <h2>Wilson Mendez</h2>
        <p class="title">Data Analyst</p>
        <p>Leaflet/Heatmap, Plotly</p>
        <p>wilsonmendez3@gmail.com</p>
        <p><button class="button" onclick="window.location.href = 'https://www.linkedin.com/in/wm3';" target="_blank">Contact</button></p>
      </div>
    </div>
  </div>
  <!-- Team Member 5-->
  <div class="col-sm-4">
    <div class="card"  style="width: 20rem;">
      <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/10629318_10204691656431777_7915806835260187671_o.jpg?_nc_cat=100&_nc_ht=scontent-lga3-1.xx&oh=0aca6faea8086d98cb7cbc2b83bcdb1c&oe=5D6AC068" alt="Wissemeddine Touati" style="width:100%">
      <div class="container">
        <h2>Wissemeddine Touati</h2>
        <p class="title">Data Analyst</p>
        <p>Data Wrangling</p>
        <p>wessemana@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

