{% extends 'layout.html' %}

{% block body %}
  <!-- Header -->
  <header class="bg-primary text-center py-5 mb-4">
    <div class="container">
      <h1 class="font-weight-light text-white">Meet the Team</h1>
    </div>
  </header>
      
  <!-- Page Content -->
  <div class="container">
      <!-- Team Member 1 -->
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://media.licdn.com/dms/image/C4E03AQGcZ_xISRlvwQ/profile-displayphoto-shrink_200_200/0?e=1560988800&amp;v=beta&amp;t=MDlpJjG4zhd56fctkWlV9NPOm1PrndkZRhwaVfx-Pno" alt="Raphael Joseph">
          <div class="card-body text-center">
            <p class="card-title">Raphael</p>
            <h5 class="card-text">Web Developer</h5>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://media.licdn.com/dms/image/C4E03AQHGveh5OkR0Zw/profile-displayphoto-shrink_800_800/0?e=1564012800&v=beta&t=j_g9BiQKAdDJA6iypvZBKkpE4MIjA88o9S-aObIODiY" alt="Wilson Mendez">
            <div class="card-body text-center">
              <p class="card-title">Wilson</p>
              <h5 class="card-text">JavaScript Coder</h5>
            </div>
          </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://media.licdn.com/dms/image/C5103AQFmL2_keEJAcg/profile-displayphoto-shrink_800_800/0?e=1563408000&v=beta&t=BFTGFx7n_KPoLit4lpS_M10ZBXrO5434R64iDZRwpEE" alt="Rishi Thakur">
          <div class="card-body text-center">
            <p class="card-title">Rishi</p>
            <h5 class="card-text">Project Manager</h5>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <!-- Empty Space -->
      </div>
      <div class="col-sm-4">
        <!-- Team Member 4 -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://media.licdn.com/dms/image/C4E03AQGjjb7QgI7m3w/profile-displayphoto-shrink_200_200/0?e=1564012800&v=beta&t=vhp8Lv38t-8D0kBdzhF3zXcF2qpGNOB9Da201b5rau0" alt="Krithika Raghavendran">
          <div class="card-body text-center">
            <p class="card-title">Krithika</p>
            <h5 class="card-text">JavaScript Coder</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <!-- Team Member 5 --> 
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/10629318_10204691656431777_7915806835260187671_o.jpg?_nc_cat=100&_nc_ht=scontent-lga3-1.xx&oh=0aca6faea8086d98cb7cbc2b83bcdb1c&oe=5D6AC068" alt="Wissemeddine Touati">
          <div class="card-body text-center">
            <p class="card-title">Wissemeddine</p>
            <h5 class="card-text">Data Wrangler<h5>
          </div>
        </div>
      </div> 
    </div>
  </div>
{% endblock %}

