<!DOCTYPE html>
<html>
   <head>
      <title>ResPy Landing Page</title>
      <link rel="stylesheet" type="text/css" href="static/css/style.css">
   <body>
      <section class="intro">
         <div class="inner">
            <div class="content">
               <h1>Welcome to ResPy</h1>
               <a class="button" href="/overview">Get Started</a>
            </div>
         </div>
      </section>
      <p>Welcome to ResPy. The Respiratory Diseases: Smoking vs. Air Pollution in the United States project
         will be an inexpensive and easily accessible way to show the data of air pollution and data of 
         smoking/cardiovascular disease in the United States. The application will be designed as a Flask app. 
         The application will make use of Leaflet.js to show maps of the U.S with air quality indices as well as percent 
         of tobacco use by state. The application also makes use of Plotly.js to show levels of mortality rates for cardiovascular 
         diseases. This will allow for the correlation to be created on whether or not areas with larger air pollution have a 
         population with more cardiovascular diseases.</p>
   </body>
</html>